body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
}

h2 {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996D;
    margin: 0;
}

h3 {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    margin: 0;
}

h4 {
    font-family: 'Georgia';
    font-weight: 400;
    color: rgba(1, 153, 109, 0.2);
    font-size: 150px;
    line-height: 150%;
    margin: 0;
}

h5 {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #FFFFFF;
    margin: 0;

}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin: 0;
}

.wrapper {
    max-width: 1450px;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 227px;
    height: 86px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 72px;
}

.menu-link {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
}

.menu-sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.menu-button {
    display: flex;
    align-items: center;
    padding: 13px 50px;
    gap: 30px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.divider {
    border: 1px solid #D6D6D6;
    margin: 0;
}

.main {
    background-image: url(image/background.jpg);
    height: 895px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 275px;
}

.main-block {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.main-button {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    gap: 30px;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.content {
    margin-top: 180px;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-subtopic {
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: #424242;
}

.content-text {
    color: #424242;
    font-weight: 500;
    line-height: 150%;
    width: 650px;
}

.bg-number1 {
    position: absolute;
    left: 275px;
    top: 1408px;
    margin: 0;
}

.bg-number2 {
    position: absolute;
    left: 760px;
    top: 1695px;
    margin: 0;
}

.bg-number3 {
    position: absolute;
    left: 1274px;
    top: 1462px;
    margin: 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    width: 390px;
    margin-top: 175px;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
    width: 390px;
    margin-top: 470px;
}

.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
    width: 390px;
    margin-top: 240px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #245852;
    padding: 200px 0px;
    margin-top: 50px
}

.block-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 55px;

}

.block-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: white;
}

.block-button {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    gap: 30px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.block2-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 145px 0px;
}

.block2-content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 584px;
}

.block2-subtopic {
    font-weight: 600;
    font-size: 25px;
    color: #424242;
}

.block2-button {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    gap: 30px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 275px;
    gap: 60px;
    background-color: #245852;
}

.footer-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: white;
}